html, body {
    margin: 0; 
    padding: 5px;
    background-color: black;
    height: 100%; 
    overflow: hidden;
    font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    color: white;

}
/* div{
    text-align: center;
} */
#app{
    background-color: black;
    width: calc(100% - 5px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
}
#top{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: left;
    display: flex;
    align-items: end;
    font-size: 50px;
    padding: 10px 0px 10px 0px;
    justify-content: center;
    color: black;
}
#card{
    background-color: #98ff95;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    align-items: start;
    text-align: left;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
#name{
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(51, 51, 51);
    justify-content: start;
    display: flex;
    flex-direction: column;
}

#bottom{
    background-color: black;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#bottom_sel{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}
#a{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.thing{
    background-color: rgb(51, 51, 51);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 15px;
    border: 0;
}
.thing:hover{
    transform: translateY(-2px);
}
.thing:active{
    transform: translateY(1px);
}
#table{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#tableheader{
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: calc(10% - 10px);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#tablepad{
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: calc(90% - 10px);
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    overflow-y: auto;
}
th{
    height: 5%;
}
td{
    text-align: center;
}
#goal{
    /* background: linear-gradient(90deg, rgb(25, 50, 25) 0%, rgba(25, 50, 25) 26%, rgba(51, 51, 51,1) 26%, rgba(51, 51, 51,1) 100%); */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#goal_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left !important;
    padding: 15px;
    width: calc(100% - 30px);
}
.Menu{
    position: absolute;
    left: 25%;
    top: 25%;
    text-align: center;

    width: 50vw;
    height: 50vh;
    background: rgba(51, 51, 51, 0.95);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(51, 51, 51, 1);

    display: flex;
    justify-content: center;
}
.Menu form{
    display: flex;
    width: 50%;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}
#exitbtn{
    position: fixed;
    width: 64px;
    height: 64px;
    top: 10px; 
    font-size: 32px;
    background-color: transparent;
    border: 0;
}
input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}
select {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
select:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

.fancy{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.fancy:hover{
    background-color: #98FF95;
    box-shadow: 0px 15px 20px rgba(152,255,149, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
  
.fancy:active{
    transform: translateY(-1px);
}



#LoginMenu{
    text-align: center;

    width: 50vw;
    height: 50vh;
    background: rgba(51, 51, 51, 0.95);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(51, 51, 51, 1);

    display: flex;
    justify-content: center;
}
#LoginMenu form{
    display: flex;
    width: 50%;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}
.popupOn{
    animation-name: show;
    animation-duration: 0.5s;
    
}
@keyframes show {
    0%   {transform: scale(0.0); visibility: visible;}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}
.popupOff{
    animation-name: close;
    animation-duration: 0.5s;
    
}
@keyframes close {
    0%   {transform: scale(1); }
    100% {transform: scale(0);visibility: visible;}
}


@media screen and (max-width: 600px) {

    #bottom{
        flex-direction: column;
    }
    html, body {
        overflow-y: auto;
    }
    h1{
        font-size: 100%;
    }

    #app{
        width: 100% ;
        height: 100%;
        justify-content: center;
    }
    #top{
        width: 100% ;
        height: 100%;
        padding: 100px 0px 10px 0px;
    }
    th,td{
        font-size: 10px;
    }
    #tablepad img{
        max-width: 32px;
        max-height: 32px;
    }
}